@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
	background: linear-gradient(#DBE2EF);
    color: #112D4E;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}



header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
    
}

header ul li  a{
    text-decoration: none;
    padding: 6px 15px;
    color: #112D4E;
    border-radius: 20px;
}

header ul li  a:hover,
header ul li  a:active{
   background: #3F72AF; 
   color: #fff;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #112D4E, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;

}
#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #112D4E;
    font-size: 1.5em;
    z-index: 9;
    transform: translate(100px);

}

.sec{
    position: relative;
    padding: 100px;
    background: none;
}

.sec h2{
    margin-top: 50px;
    font-size: 5em;
    margin-bottom: 10px;
    margin-right: 50px;
    color: #112D4E;
    text-align:center;

}

.sec p{
    font-size: 1.2em;
    color: #112D4E;
    text-align:center;
}

.button {
    border: none;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 180px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    align-items: center;
    background-color:#3F72AF; 
    color: #fff; 
    border: solid #3F72AF;
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
  
.button1:hover {
    background-color: #112D4E;
    border: solid #112D4E;
    color: white;
}

.sec .photo1{
    width: 300px;
    float: left;
    align-items: center;
    border-radius: 50%;
    margin-left: 100px;
}

footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #112D4E;
    color: #DBE2EF;
    display: flex;
}

footer div{
    text-align: center;

}

.col-2{
    flex-grow: 2;
}

footer div h3{
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #DBE2EF;
    margin-bottom: 10px;
}

form input{
    width: 380px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #DBE2EF;
    color: #DBE2EF;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icon{
    margin-top: 30px;
}

.social-icon i{
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.sec a{
    font-size: larger;
    text-decoration: none;
    color: #3F72AF;
}